
.best_cats_wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.choose_monster_cats{
  padding: 0 20px;
  font-size: 22px;
  color: antiquewhite;
  font-weight: 500;
  text-indent: 15px;
  font-family: 'Inter';
}

.monster_chekbox{
  display:none;
}

#element{

}
#monster_category_items {
    margin:0 20px;
    height: auto;
    max-height: 0;
    transition: all 0.5s ease-out;
    overflow: hidden;
    border:1px solid transparent;
   
    
    
}
.monster_category_items_wrapper{
  padding: 20px 53.5px;
 
  display: flex;
  flex-wrap: wrap;
} 

.monster_chekbox:checked ~ #monster_category_items {
  max-height:1000px;
  transition: all 0.5s ease-in;
  border:1px solid #DB3138;
}


.monster_padding{
padding: 30px 0;
}
.monster_cats_btn{
  margin: 0 20px;
  display: block;
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
  font-family: 'Inter';
 
  font-weight: bold;
  color: #ffffff !important;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  
  background: #601417;
  background: linear-gradient(to top, #f61828, #601417);
}
.monster_cats_btn:hover{
  cursor: pointer;
  color: #cccccc !important;
}

.monster_category_item_link{
    margin: 25px 33.5px; 
    
    width: 310px;
    display: flex;
    flex-direction: column;
}

.one{ 
	width:100%;
	padding-top: 20px;
	padding-left: 0px;
	height:180px;

}

#monster_title{
  font-family: 'Inter';
  font-weight: bold;
}

.monster_item_title{
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
  color: #7d2023;
  display: none;
}

.monster_img{
  width:300px;
   height:200px;
   background-color: #000;
}

.view {
  
  float: left;
  border: 5px solid #6B0607 ;
  overflow: hidden;
  position: relative;
  text-align: center;

  cursor: default;
  background:#000000 ;
}
 .view-second{
  background-color: #000;
}
.view .mask,
.view .content {
  width: 300px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}


.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align:center;
  position:relative;
  font-size: 17px;
 
  padding: 30px;

 
}

.view p {
 
  
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 0px 150px 0px;
  text-align: center
}

.view button.info {
	
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  font-family: Raleway, serif;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;

}

.view button.info:hover {
  box-shadow: 0 0 5px #000
}








.view-second .mask {
  background-color: rgba(12, 19, 27, 0.6);
  width: 300px;

  height: 200px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.view-second h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-family: Raleway, serif;
  background: transparent;
  margin: 20px 40px 0px 40px;
  -webkit-transform: translate(200px, -200px);
  transform: translate(200px, -200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.view-second p {
  transform: translate(-200px, 200px);
  -webkit-transform: translate(200px, -200px);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.view-second button.info {
  transform: translate(0px, 100px);
  -webkit-transform: translate(0px, 100px);
  transition: all 0.2s 0.1s ease-in-out;
  -webkit-transition: all 0.2s 0.1s ease-in-out;
	opacity:0;
}


.view-second:hover{
    cursor: pointer;
}
.view-second:hover .mask {
  opacity: 1;
  
}

.view-second:hover h2 {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
}

.view-second:hover p {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
}

.view-second:hover button.info {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  opacity:1;
}





  .monster_wrapper{
    display: flex;
    font-family: 'Inter';
    flex-direction: column;
    font-size: 18px;
  }
  

.ant-image-img{
  max-height: 700px;
}
  .monster_page_img{
   
    
    margin: 30px auto;
   
  }
  .moster_page_epigraph{
    text-align: right;
    width: 500px;
    margin-left: auto;
    margin-right: 20px;
    text-indent: 15px;
    margin-left: auto;
  }
  .moster_page_epigraph_text{
    font-style: italic;
    font-size: 20px;
    color: #6B0607;
  }
  .moster_page_epigraph_desc{
   text-align: right;
   color: antiquewhite;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .monster_page_text p{
    color: antiquewhite;
  }
  .monster_page_text{
    
    text-indent: 25px;
    padding: 0 20px;
  }
  .monster_page_link:hover{
    color: #fff;
  }
  .monster_page_link{
    
    display: inline-block;
    width: 370px;
    text-align: center;
   align-self: center;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-right: 0 !important;
  }