*{
   background-color:  #1E1E1E;
}

.container{
    width: 1280px;
    margin: 0 auto;
}


.header{
    background-color: rgba(0,0,0,.7); 
}
.header_wrapper{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
    justify-content: space-between;
}

.log_img{
    width: 180px;
   
}

.header .nav_link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #FFFFFF;
    margin-right: 10px;
    padding: 10px 45px;
}

.nav_link:last-child{
    margin-right: 0;
}

.nav_link:hover{
    background-color: #f61828;
    position: relative;
}
.nav_link:hover:before{
    content: '';
    width: 63px;
    height: 63px;
    border-top:3px solid #f61828;
    border-left:3px solid #f61828;
    position: absolute;
    top:-8px;
    left: -8px;
}
.nav_link:hover:after{
    content: '';
    width: 63px;
    height: 63px;
    border-bottom:3px solid #f61828;
    border-right:3px solid #f61828;
    position: absolute;
    bottom:-8px;
    right: -8px;
}

.cart_link{
    width: 32px;
    height: 32px;
    background-image: url(https://imageup.ru/img215/4060843/cart.png);
    background-size: 32px 32px;
}

.cart_link:hover{
    background-image: url(https://imageup.ru/img239/4061526/cart_red.png);
   
   
    text-shadow: 0 0 10px #f61828;
   
}

.carousel_wrapper{
    display: flex;
    align-items: center;

}
.carousel{
   width: 1296px;
}

.test{
    margin: 0;
    height: 160px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;
}


.carousel_button
{
    border: none;
    width: 50px;
    height: 50px;
    position: relative;
    
    padding: 0;
   
   
    font-weight: 100;
    position: relative;
    
}

.carousel_button:before{
    content: '';
    position: absolute;
    border: 3px solid #DB3138;
    width: 50px;
    height: 50px;
    top: -3px;
    left: -3px;
    transform: rotate(-45deg);
}
 .carousel_button:hover:before{
    cursor: pointer;
    box-shadow: 0 0 10px #DB3138;
}
.button_right{
    margin-left: 60px;
}
.button_left{
    margin-right: 60px;
}

.arrow_left{
    position: absolute;
    top:10px;
    left:14px;
    
    
   
}
.arrow_right{
    position: absolute;
    top:10px;
    left:17px;
}